/* Réinitialisation des marges, ajout d'une image de fond et positionnement */
body {
  margin: 0;
  background-image: url(../Images/Fond_site/fond.png);
  background-position: center;
  overflow: auto;
  margin: 0;
  /* Cette instruction est redondante et pourrait être omise */
  padding: 0;
  position: relative;
  /* Position relative pour les éléments enfants positionnés absolument */
}

/* Boîte englobante pour tous les éléments avec la boîte de modèle border-box */
* {
  box-sizing: border-box;
}

/* Styles généraux du corps de la page */
body {
  margin: 0;
  font-family: Arial;
  margin-bottom: 40px;
  /* Espace en bas pour éviter que le contenu ne soit caché sous les éléments fixes en bas de la page */
}

/* Styles de l'en-tête de la page */
.header {
  text-align: center;
  padding: 32px;
}

/* Styles du bouton de retour */
#return {
  z-index: 1;
  position: relative;
  padding: 20px;
}

/* Styles pour la disposition en ligne flexible (flexbox) */
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

/* Création de quatre colonnes égales côte à côte */
.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Styles pour les images à l'intérieur des colonnes */
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Mise en page réactive - deux colonnes au lieu de quatre pour une largeur d'écran maximale de 800px */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Mise en page réactive - les deux colonnes passent l'une au-dessus de l'autre pour une largeur d'écran maximale de 600px */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}