@font-face {
  font-family: "Fontsk";
  src: url('Myfontsk-Regular.ttf')}
 
 /*------------------barre de navigation------------------*/
 .navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #333;
   position: fixed;
   top: 20px;
   width: 50%;
   height: 40px;
   /*rajout de ça sinon la barre était trop fine*/
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   transition: top 0.3s;
   left: 50%;
   transform: translateX(-50%);
 }

 .navbar a {
   color: rgb(182, 234, 200);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   flex-grow: 1;
 }

 .navbar a:hover {
   /*Lorsque je survole un lien*/
   background-color: #dddddde3;
   color: black;
   border-radius: 10px;
 }

 html {
   scroll-behavior: smooth;
 }

 section {
   height: 100vh;
   /* Set the height of each section as the viewport height */

   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-blend-mode: screen;

   background-attachment: scroll;
 }

 .contenthome {
    color: white;
   display: flex;
   justify-content: center;
   margin-top: 200px;
   font-size: 80px;
   color: rgb(170, 233, 223)
 }

 /*------------------home------------------*/

 #home {
   background-image: url(Home.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   overflow: auto;
   margin: 0;
   padding: 0;
   height: 100vh;
   /* Utilise la hauteur de la fenêtre pour les sections */
 }


 .home-col-1 {
  font-family: Fontsk;
   display: flex;
   align-items: center;
   font-size: 80px;
   color: rgb(170, 233, 223)
 }

 .home-col-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
 }

#bunny {
  width: 200px;
}


 /*------------------about------------------*/
 #about {
   background-image: url(About.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   overflow: auto;
   margin: 0;
   padding: 80px 0;
   color: white;
   height: 100vh;
   /* Utilise la hauteur de la fenêtre pour les sections */
 }

 h1 {
  font-family: Fontsk; 
  color: rgb(182, 234, 200);
   font-size: 50px;
   display: flex;
   margin-left: 40px;
 }

 .row {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 10px;
 }

 .about-col-1 img {
   /*flex:1;*/
   width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .about-col-1 {
   flex: 1;
 }

 .about-col-2 {
   flex: 2;
   margin-right: 200px;
 }


 .tab-titles {
  font-family: Fontsk;
   display: flex;
   margin: 10px 0 20px;
   justify-content: space-evenly;
 }

 .tab-links {
   margin-right: 50px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   position: relative;
 }

 .tab-links::after {
    content: '';
   width: 0;
   height: 3px;
   background: rgb(182, 234, 200);
   position: absolute;
   left: 0;
   bottom: -8px;
   transition: 0.5s;
 }

 .tab-links.active-link::after {
   width: 50%;
 }

 .tab-contents ul li {
   list-style: none;
   margin: 10px 0;
 }

 .tab-contents ul li span {
   color: rgb(182, 234, 200);
   font-size: 16px;
   font-weight: bold;
 }

 .tab-contents {
   display: none;
 }

 .tab-contents.active-tab {
   display: block;
 }

 #photoshop {
   width: 10px;
 }

 /*------------------portfolio------------------*/
 #portfolio {
   background-image: url(NV-VE_03.jpg);
   background-repeat: no-repeat;
   background-position: center;
   overflow: auto;
   margin: 0;
   padding: 0;
   height: 100vh;
   /* Utilise la hauteur de la fenêtre pour les sections */
 }

 body
   {
    margin: 0;
    padding: 0;
    
   }

   /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}

.wrapper .carousel a:hover {
  opacity: 0.8;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}