body {
    margin: 0;
    background-image: url(Images/Fond\ site/fond.png);
    background-position: center;
    overflow: auto;
    margin: 0;
    padding: 0;
    position:relative
}

#return
{
  z-index: 1;
 position: relative;
 padding: 20px;

}
#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

video {
    width: 80%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.gif-container {
    text-align: center;
    margin-top: auto;
    margin-bottom: 30px;
}

#ange{
    width: 30%
}

#yangpa{
    width:30%;
}

  
