/* Styles généraux du corps de la page */
body {
    margin: 0;
    background-image: url(Images/Fond\ site/fond.png);
    background-position: center;
    overflow: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Styles du bouton de retour */
#return {
    z-index: 1;
    position: relative;
    padding: 20px;
}

/* Styles du conteneur vidéo */
#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Styles de la vidéo */
video {
    width: 80%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Styles du conteneur de GIFs */
.gif-container {
    text-align: center;
    margin-top: auto;
    margin-bottom: 30px;
}

/* Styles spécifiques pour l'élément avec l'ID "ange" */
#ange {
    width: 30%;
}

/* Styles spécifiques pour l'élément avec l'ID "yangpa" */
#yangpa {
    width: 30%;
}

/* Styles pour les dispositifs mobiles avec une largeur d'écran maximale de 768px */
@media screen and (max-width: 768px) {
    #video-container {
        height: 260px;
        margin-top: 30px;
    }
    .gif-container {
        margin-bottom: 0;
        height: 50vh;
    }
    #ange {
        width: 55%;
    }
    #yangpa {
        width: 55%;
    }
}
